{% include 'header.html' %}
<div class="about_section">

    <div class="about-div"><h1>
        <u>Work Experiences</u>
    </h1>
    <ul>
        <li class="list">
            <h2>Quality Analyst</h2>
            <h3>Evelyn Learning System Private Limited, Noida</h3>
            <h4>Feb, 2019 - Jan, 2023</h4>
            <p>
                <ul class="job-Desc">
                    <li>
                        As quality analyst, I have to assist other associates with problem they encountered.
                    </li>
                    <li>I have to coordinate with my team to achieve team targets and to 
                        maintain the team integrity. 
                    </li>
                    <li>
                        Arranging & chairing team meetings, focussing on targets and 
                        achievements. 
                    </li>
                    <li>
                        Praise team members and create a positive working environment. 
                    </li>
                    <li>
                        Motivating the team too achieve high standards targets.
                    </li>
                </ul>
            </p>
        </li>
        <li class="list">
            <h2>Subject Matter Expert</h2>
            <h3>Acadecraft Private Limited, Noida</h3>
            <h4>Feb, 2018 - Sep, 2018</h4>
            <p>
                <ul class="job-Desc">
                    <li>
                        As a subject matter exper I have to provide the knowledge and 
                        experties in the subject Physics and Mathematics.
                    </li>
                    <li>I have to create accurate content and guide other professionals on the project to 
                        ensure the accuracy. 
                    </li>
                </ul>
            </p>
        </li>
    </ul>
</div>

    <div class="about-div"><h1>
        <u>Academic Qualification</u>
    </h1>
    <ul>
        <li class="list">
            <h2>Post Graduation Diploma in Big Data Analytics</h2>
            <h3>CDAC, Noida</h3>
        </li>
        <li  class="list">
            <h2>Bachelor of Technology, Mechanical</h2>
            <h3>Raj Kumar Goel Engineering College, Ghaziabad</h3>
            <h4>Percentage: <b>77.14%</b></h4>
        </li>
        <li  class="list">
            <h2>Intermdiate</h2>
            <h3>Saraswati Vidya Mandir, Ghaziabad</h3>
            <h4>Percentage: <b>86.20%</b></h4>
        </li>
        <li  class="list">
            <h2>High School</h2>
            <h3>Saraswati Vidya Mandir, Ghaziabad</h3>
            <h4>Percentage: <b>81.66%</b></h4>
        </li>
    </ul>
</div>

    <div class="about-div">
        <div>
            <h1>
                <u>Technical Skills</u>
            </h1>
            <div class="skills">
                <div><p>Python</p></div>
                <div><p>Machine Learning</p></div>
                <div><p>Deep Learning</p></div>
                <div><p>NLP</p></div>
                <div><p>Java</p></div>
                <div><p>MySQL</p></div>
                <div><p>MongoDB</p></div>
                <div><p>Linux (Redhat)</p></div>
                <div><p>Cloud (AWS)</p></div>
                <div><p>Tableau</p></div>
                <div><p>R</p></div>
                <div><p>Statistics</p></div>
            </div>
        </div>
    </div>

</div>

{% include 'footer.html' %}